@import '../styles/base';

.content {

}

@media screen and (min-width: 640px) {
  :host {
    background-color: transparent;
  }
  .content {
    margin: 0 auto 50px;
    width: 640px;
    border-radius: 0 0 5px 5px;
  }
}
